[access]
	inheritFrom = All-Projects
[project]
	description = Source-Group Tag eXchange Protocol (SXP)
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-sxp-committers
	owner = group saml/odl-gerrit-sxp-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
